<!--
Bloque parcial para direccion
Author: Polachek
-->
<div class="direccion_item">
    <h1 class="direccion-title">Nueva Dirección</h1>
    <div class="half-screen">
        <label>Calle
            <input class="input-half calle" type="text" placeholder="Ejemplo: Av.Italia">
        </label>

        <label>Esquina
            <input class="input-half esquina" type="text" placeholder="Ejemplo: Av.Centenario">
        </label> 

        <label>Barrio
            <input class="input-half barrio" type="text" placeholder="Ejemplo: Malvin">
        </label>

        <label>Número de puerta
            <input class="input-half numero" type="text" placeholder="Número de puerta">
        </label>
            
        <label>Nº de Apartamento, si corresponde
            <input class="input-half apto" type="text" placeholder="Nº de Apartamento, si corresponde">
        </label>
        
        <label>Torre
            <input class="input-half isTorre" type="text" placeholder="Torre">
        </label>
    </div>
    <div class="half-screen">
        <label>Block
            <input class="input-half block" type="text" placeholder="Block">
        </label>

        <label>Departamento</label>
        <select class="input departamento">
            <option value="MONTEVIDEO" selected="selected">MONTEVIDEO</option>
            <option value="ARTIGAS">ARTIGAS</option>
            <option value="CANELONES">CANELONES</option>
            <option value="CERRO_LARGO">CERRO_LARGO</option>
            <option value="COLONIA">COLONIA</option>
            <option value="DURAZNO">DURAZNO</option>
            <option value="FLORES">FLORES</option>
            <option value="FLORIDA">FLORIDA</option>
            <option value="LAVALLEJA">LAVALLEJA</option>
            <option value="MALDONADO">MALDONADO</option>
            <option value="PAYSANDU">PAYSANDU</option>
            <option value="RIO_NEGRO">RIO_NEGRO</option>
            <option value="RIVERA">RIVERA</option>
            <option value="ROCHA">ROCHA</option>
            <option value="SALTO">SALTO</option>
            <option value="SAN_JOSE">SAN_JOSE</option>
            <option value="SORIANO">SORIANO</option>
            <option value="TACUAREMBO">TACUAREMBO</option>
            <option value="TREINTA_Y_TRES">TREINTA_Y_TRES</option>
        </select>

        <label>Edificio
            <input class="input-half edificio" type="text" placeholder="Edificio">
        </label>

        <label>Localidad
            <input class="input-half localidad" type="text" placeholder="Localidad">
        </label>

        <label>Manzana Solar
            <input class="input-half manzanasolar" type="text" placeholder="Manzana Solar">
        </label>
    </div>
    <a href="#" class="borrar_direccion borrar_item_partial clear" onclick="borrarDireccion(event,this)">Borrar Dirección</a>
</div>