<!--
Bloque parcial para telefono
Author: Polachek
-->
<div class="telefono_item">
    <div class="innner_content">
        <label>Tipo de teléfono</label>
        <select class="input tel_tipo">
            <option value="MOVIL" selected="selected">MOVIL</option>
            <option value="FIJO">FIJO</option>
        </select>
        <label>Nº de teléfono</label>
        <input class="input-half tel_num" type="text" placeholder="NNNNNNNNN"/>
        <label>Observaciones</label>
        <input class="input-half tel_obs" type="text" placeholder="Observaciones"/>
        <a href="#" class="borrar_telefono borrar_item_partial" onclick="borrarTelefono(event,this)">Borrar teléfono</a>
    </div>
</div>
