body{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

a, a:hover, a:focus{
    text-decoration: none;
}

.clear{
    clear: both;
}

.inline-block{
    display: inline-block;
}

.center{
    text-align: center;
}

.nomargin{
    margin: 0;
}

#mensajeExito{
    background-color: #66ffa1;
}

#mensajeError{
    background-color: #ba1e06;
    color: #fff;
}

#mensajeExito, #mensajeError{
    text-align: center;
}

#mensajeExito p, #mensajeError p{
    padding: 10px;
    font-size: 16px;
}

.borrar_item_partial{
    display: block;
    text-align: center;
    color: #FA8072;
    font-weight: bold;
}

.main-header .navbar-brand{
    width: 300px;
    height: auto;
}

.main-header .navbar-brand>img{
    width: 100%;
    height: auto;
}

.main-header #usuario {
    font-weight: bold;
    font-size: 16px;
}

input.error{
    border: 1px red dashed;
}

/** LOGIN **/
body.login h1.title{
    font-family: Poker;
    font-weight: normal;
    font-size: 3.5rem;
    text-align: center;
    color: white;
    text-shadow: 4px 4px #000;
}

body.login #login{
    width: 40%;
    margin: 0 auto;
    padding: 1%;
    box-shadow: 5px 10px 18px #000;
    border: 1px solid #000;
}

body.login #login h2{
    font-family: Poker;
    font-weight: normal;
    font-size: 2.2rem;
    text-align: center;
    color: #fff;
    text-shadow: 3px 2px #000;
    margin: 0px 0px 13px 0px;
}

body.login #login .input-login{
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 35px;
    padding: 1%;
}

body.login #login #submit{
    background: #fff;
    border: 1px solid #999;
    padding: 5px;
    width: 20%;
    min-width: 60px;
    height: 37px;
    margin: 0 auto;
    display: block;
}

body.login #login .login-error{
    margin: 2%;
    color: red;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 1px 1px #000;
}

body.login .navbar-right{
    visibility: hidden;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

body.login #logo-login{
    position: absolute;
    width: 10%;
    margin-left: -5%;
    margin-top: -4.4%;
}

/* Agregar Estudiante */
body.estudiante-agregar ul{
    list-style: none;
    padding: 0;
}

body.estudiante-agregar #listaNiveles li{
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    cursor: pointer;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

body.estudiante-agregar #listaNiveles li a{
    padding: 12px;
    display: block;
}

body.estudiante-agregar #listaNiveles li:hover, body.estudiante-agregar #listaNiveles li.selected, body.estudiante-agregar #listaGrupos li.selected, body.estudiante-agregar #listaGrupos li:hover{
    background-color: #e6ffe6;
    border: 1px solid #b3ffd9;
}

body.estudiante-agregar #listaNiveles li span{
    display: block;
    padding-left: 10px;
}

body.estudiante-agregar #listaNiveles li span.nivel-id{
    padding-left: 0;
    font-size: 20px;
}

body.estudiante-agregar #listaGrupos li{
    border: 1px solid blue;
    background-color: #f6f6f6;
    padding: 7px;
    cursor: pointer;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

/* Dashboard */
body.dashboard .item-dash {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.7;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

body.dashboard .panel_secundario{
    display: none;
}

body.dashboard .item-dash:hover {
    opacity: 1;
}

body.dashboard .item-dash span{
    display: block;
}

body.dashboard .item-dash img{
    margin-bottom: 5px;
    width: 145px;
    height: auto;
}


/* Form Layout 1 */
form.form-layout-1 label{
    width: 100%;
}

form.form-layout-1 .half-screen{
    width: 50%;
    float: left;
    padding: 0 15px;
}

form.form-layout-1 .half-screen input, form.form-layout-1 .half-screen select{
    margin-bottom: 15px;
    width: 100%;
    height: 26px;
    font-weight: normal;
    padding: 0 0 0 5px;
}

form.form-layout-1 .submit_form{
    text-align: center;
}

form.form-layout-1 .submit_form input{
    width: 165px;
    height: 44px;
    background-color: transparent;
    border: 2px solid #1ECB96;
    color: #1ECB96;
    text-transform: uppercase;
    border-radius: 25px;
    font-weight: bold;
}

form.form-layout-1 select:disabled{
    background-color: rgb(235, 235, 228);
}

form.form-layout-1 .error_vacio:before {
  content: " - El campo no puede ser vacío";
  color: red;
}


/* Telefono item */
#form-telefono .telefono_item{
    float: left;
    width: calc(100% / 3);
    margin-bottom: 20px;
    padding: 5px;    
}

#form-telefono .telefono_item .innner_content{
    background-color: #1E90FF;
    background: linear-gradient(to bottom, white, #4169E1);
    width: 99%;
    margin: 0 auto;
    padding: 10px;
}

#form-telefono .telefono_item label{
    text-align: center;
}

#form-telefono .telefono_item input, #form-telefono .telefono_item select{
    width: 100%;
    margin-bottom: 13px;
}

/***** PASOS  ****/
#pasos{
    margin-bottom: 40px;
    text-align: center;
}

#pasos .paso{
    display: inline-block;
}

#pasos .paso a{
    font-size: 19px;
    padding: 13px 70px;
    display: inline-block;
    color: #fff;
    background-color: #7EC3FC;
    font-weight: 600;
    box-shadow: 0 4px 2px -2px grey;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    transition: box-shadow 0.3s ease-in-out;
}

#pasos .paso.error a{
    background-color: #ff6961 !important;
}

#pasos .paso.selected.error a{
    background-color: #ED4337 !important;
}

#pasos .paso a:hover{
    box-shadow: none;
}

#pasos .paso.selected a{
    background-color: #087EE2;
}

#pasos .paso .subtit{
    display: block;
    font-size: 13px;
}

section h4, form.form-layout-1 fieldset legend{
    text-align: center;
    font-size: 25px;
}

.paso_siguiente_cont {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.paso_siguiente_cont a.paso_siguiente{
    text-decoration: none;
    font-size: 20px;
    padding: 6px 35px;
    background-color: #087EE2;
    color: #ffffff;
    box-shadow: 0 5px 4px -2px grey;
    transition: box-shadow 0.3s ease-in-out;
}

.paso_siguiente_cont a.paso_siguiente:hover{
    box-shadow: none;
}

/** Loader **/
#wp-loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 0;
    left: 0;
}

#wp-loader .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Tutor */
body.modificar-tutor #resulatdoBusqueda #tutor-item{
    width: 450px;
    margin: 15px auto;
}

body.modificar-tutor #resulatdoBusqueda #tutor-item #tutor-foto{
    float: left;
    width: 40%;
}

body.modificar-tutor #resulatdoBusqueda #tutor-item #tutor-data{
    text-align: left;
    padding-left: 7px;
    float: left;
    width: 60%;
}

body.modificar-tutor #resulatdoBusqueda #tutor-item #tutor-foto img{
    width: 100%;
    height: auto;
}

body.modificar-tutor #resulatdoBusqueda #tutor-item #tutor-data span{
    display: block;
    margin-bottom: 5px;
}

body.modificar-tutor #seleccionar_tutor{
    margin-top: 15px;
    text-align: center;
}

body.modificar-tutor #seleccionar_tutor a{
    text-decoration: none;
    font-size: 20px;
    padding: 6px 35px;
    background-color: #087EE2;
    color: #ffffff;
    box-shadow: 0 5px 4px -2px grey;
    transition: box-shadow 0.3s ease-in-out;
}

body.modificar-tutor-lista .container-fluid{
    text-align: center;
}

body.tutor-dash #hijos-lista, body.tutor-dash .item-dash{
    display: inline-block;
    vertical-align: middle;
}

body.tutor-alumno-dash .alumno-seleccionado .item-dash{
    opacity: 1;
}

body.tutor-alumno-dash .table_style_1{
    margin: 0;
}

body.tutor-alumno-dash .table_style_1 th{
    min-width: 160px;
}

.modificar-tutor-form #sel-alumno #list-hijos-asignados table{
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

.modificar-tutor-form #sel-alumno #list-hijos-asignados table th{
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.modificar-tutor-form #sel-alumno #list-hijos-asignados table td{
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.modificar-tutor-form #sel-alumno #hijos-asignados h1{
    text-align: center;
}

.modificar-tutor-form #sel-alumno #hijos-asignados #list-hijos-asignados table{
    margin: 0 auto;
}

.modificar-tutor-form #sel-alumno #hijos-asignados h4{
    margin-top: 35px;
}

/*** Table Style 1  ***/
table.table_style_1{
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

table.table_style_1 th{
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}

table.table_style_1 td{
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

body.tutor-alumno-dash #tabla-inasistencias{
    margin: 15px 0 0;
}

body.tutor-alumno-dash #volver{
    font-size: 20px;
} 


/*** AMINISTRADOR/ADMINISTRATIVO **/
body.mod_admin_lista #main-title{
    margin: 0 0 10px 0;
}

body.mod_admin_lista .show_all{
    font-size: 24px;
}

body.mod_admin_lista #listaUsuarios{
    clear: both;
    padding-top: 17px;
}